<div>
    Beste {{user.fullName}},<br>
    <br>
    Via de website van FPSA is er een aanvraag geweest voor het herstellen van uw FPSA-account. Indien dit niet klopt, NEEM DAN GELIJK <a href="mailto:info@fpsa.nl">CONTACT OP MET ONS</a><br>
    <br>
    Indien dit wel klopt, kunt u dit proces voltooien door op <a href="{{baseUrl}}confirmation?token={{token}}">deze link</a> te klikken.<br>
    <br>
    Heb je een vraag of lukt er iets niet? Stel hem meteen via <a href="mailto:info@fpsa.nl">info@fpsa.nl</a> of door te reageren op deze mail!<br>
    <br>
    Met vriendelijke groeten,<br>
    Bestuur FPSA
</div>

<div style="margin-top: 100px;">
    Dear {{user.fullName}},<br>
    <br>
    There has been a request to recover your FPSA account through the FPSA website. If this is not correct, PLEASE <a href="mailto:info@fpsa.nl"> CONTACT US </a> IMMEDIATELY!<br>
    <br>
    If so, you can complete this process by clicking on <a href="{{baseUrl}}confirmation?token={{token}}">this link</a>.<br>
    <br>
    Do you have a question or is something not working? Ask it immediately via <a href="mailto:info@fpsa.nl">info@fpsa.nl</a> or by responding to this email! <br>
    <br>
    Best regards,<br>
    Board of FPSA
</div>