<div>
    Beste {{name}},<br>
    <br>
    Zojuist hebben we een jaarverslag van jullie met succes ontvangen! {{#if begin}}Hiermee is jullie bestuursjaar van {{begin}} t/m {{end}} afgesloten!{{/if}}<br>
    <br>
    Namens FPSA willen we jullie bedanken voor jullie inzet en hopen we jullie opvolgers snel te ontmoeten!<br>
    <br>
    Met vriendelijke groeten,<br>
    Bestuur FPSA
</div>

<div style="margin-top: 100px;">
    Dear {{name}},<br>
    <br>
    We have just successfully received an annual report from you! {{#if begin}}This concludes your board year from {{begin}} to {{end}}!{{/if}}<br>
    <br>
    On behalf of FPSA, we would like to thank you for your efforts and hope to meet your successors soon! <br>
    <br>
    Best regards,<br>
    Board of FPSA
</div>