<div>
    Beste bestuur der FPSA,<br>
    <br>
    Zojuist is er een nieuwe aanmelding voor FPSA ontvangen. Hieronder staan de aanmeldgegevens weergegeven:<br>
    <b>Naam:</b> {{application.name}}<br>
    <b>Instituut:</b> {{application.academy}}<br>
    <b>Vestiging:</b> {{application.establishment}}<br>
    <b>KvK:</b> {{application.kvk}}<br>
    <b>email:</b> <a href="mailto:{{application.email}}">{{application.email}}</a><br>
    <b>website:</b> <a href="{{application.websiteUrl}}">{{application.websiteUrl}}</a><br>
    <b>Ingediend op:</b> {{handedIn}}<br>
    <b>Logo vereniging:</b><br>
    <img src="{{apiUrl}}/user/application/photo?id={{application.id}}" style="width: 100px"/><br>
    <br>
    Indien er vragen zijn over de aanmelding, kunnen deze simpel gesteld worden door te reageren op deze mail<br>
    <br>
    Met vriendelijke groet,<br>
    {{application.name}}
</div>