<div>
    Beste {{user.fullName}},<br>
    <br>
    Zojuist is er een nieuw evenement geplaats op de FPSA website! Bekijk dit evenement hieronder of <a href="{{baseUrl}}agenda">klik hier</a>.<br>
    <br>
    <h2 style="color: #7D52C9;">{{event.titleNL}}</h2><br>
    <img src="{{baseUrl}}agenda/photo?id={{event.id}}"/><br>
    <div style="white-space: pre-line;">{{event.descriptionNL}}</div>
</div>